<h2>Show context</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @context.name %>
  </li>

</ul>

<%= link "Edit", to: context_path(@conn, :edit, @context) %>
<%= link "Back", to: context_path(@conn, :index) %>
