<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Digraffe</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div class="container">

      <nav class="navbar navbar-light">
        <a class="navbar-brand" href="/">Digraffe</a>
        <ul class="nav navbar-nav pull-right">

          <li class="nav-item"><%= link "Links", to: "/links", class: "nav-link" %></li>
          <li class="nav-item"><%= link "Topics", to: "/topics", class: "nav-link"  %></li>
          <li class="nav-item"><%= link "Contexts", to: "/contexts", class: "nav-link"  %></li>
          <li class="nav-item"><%= link "Collections", to: "/collections", class: "nav-link" %></li>

          <%= if @settings do %>
            <li class="nav-item dropdown settings">
              <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">
                <img src="<%= Digraffe.Settings.small_avatar_url @settings %>" class="avatar"/>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link "Sign out", to: auth_path(@conn, :delete), method: :delete, class: "override-form" %></li>
              </ul>
            </li>

          <% else %>
            <li class="nav-item settings login">
              <a class="nav-link" href="<%= auth_path @conn, :index, "github" %>">
                <i class="fa fa-github"></i>
                GitHub
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="container">
        <%= if message = get_flash(@conn, :error) do %>
          <div class="alert alert-danger" role="alert"><%= message %></div>
        <% end %>
        <%= if message = get_flash(@conn, :info) do %>
          <div class="alert alert-info" role="alert"><%= message %></div>
        <% end %>
      </div>

      <div class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      require("tether");
      require("bootstrap");
    </script>
  </body>
</html>
