<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Digraffe</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><%= link "Links",       to: "/links"    %></li>
            <li><%= link "Topics",      to: "/topics"   %></li>
            <li><%= link "Contexts",    to: "/contexts" %></li>
            <li><%= link "Collections", to: "/collections" %></li>
            <li class="settings">
              <%= if @settings do %>
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    <img src="<%= @settings.small_avatar_url %>" class="img-circle avatar"/>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><%= link "Logout", to: auth_path(@conn, :delete), method: :delete %></li>
                  </ul>
                </div>
              <% else %>
                <a class="btn btn-primary" href="<%= auth_path @conn, :index, "github" %>">
                  <i class="fa fa-github"></i>
                  GitHub
                </a>
              <% end %>

            </li>
          </ul>
        </nav>
        <span class="logo">Digraffe</span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
