$grayish: #333

li.settings
  width: 80px
  text-align: right

  img.avatar
    border-radius: 3px
    margin-top: 7px
    height: 25px
    width: 25px

  a.dropdown-toggle
    text-decoration: none
    color: $grayish

  a.override-form
    display: block
    padding: 3px 20px
    clear: both
    font-weight: normal
    line-height: 1.42857143
    color: $grayish
    white-space: nowrap
    text-decoration: none

    &:hover
      color: $grayish
      text-decoration: none
      background-color: #f5f5f5

  .dropdown.open
    a
      background: none

  &.login
    i
      width: 15px
