<h2>Links</h2>

<%= if @settings do %>
  <%= render "form.html",
    changeset: @changeset,
    action: link_path(@conn, :create),
    button_text: "Add" %>
<% end %>

<table class="table">
  <tbody>
    <%= for link <- @links do %>
    <tr>
      <td>
        <div><%= link.title %>&nbsp;<%= link "view", to: link_path(@conn, :show, link) %></div>
        <div><a href="<%= link.url %>"><%= link.url %></a></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
