<h2><%= @link.title %></h2>
<a href="<%= @link.url %>"><%= @link.url %></a>

<div class="text-right">
  <%= link "Back", to: link_path(@conn, :index), class: "btn-xs" %>
  <%= link "Edit", to: link_path(@conn, :edit, @link), class: "btn-xs" %>
  <%= link "Delete", to: link_path(@conn, :delete, @link), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
</div>
